In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [34]:
df = pd.read_csv('../../datos/attack_limpio.csv', index_col=0)

In [19]:
df.head(2)

,Unnamed: 0,case_number,year,type,country,area,location,activity,name,age,time,species_,href,injury,date,mes,fatal_,sex2,species_tipo,edad
0,0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"FATAL, all onboard were killed by sharks",1800,NaN,y,F,NaN,NaN
1,1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,FATAL,Reported May-28-1797,May,y,NaN,NaN,NaN

Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. ¿Hay alguna columna con una gran cantidad de nulos? En caso de que sea así deberemos eliminarla.

In [7]:
df.isnull().sum()

Unnamed: 0         0
case_number        1
year               0
type               4
country           50
area             456
location         542
activity         544
name             209
age             2820
time            3364
species_        2845
href               0
injury            28
date               0
mes              576
fatal_           619
sex2             569
species_tipo    5196
edad            2873
dtype: int64

In [8]:
df.isnull().sum()*100/df.shape[0]

Unnamed: 0       0.000000
case_number      0.015803
year             0.000000
type             0.063211
country          0.790139
area             7.206068
location         8.565107
activity         8.596713
name             3.302781
age             44.563843
time            53.160556
species_        44.958913
href             0.000000
injury           0.442478
date             0.000000
mes              9.102402
fatal_           9.781922
sex2             8.991783
species_tipo    82.111252
edad            45.401391
dtype: float64

Es el momento de eliminar los nulos:
- Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.
- En relación a la columna de country al tratarse de una columna de tipo categórica, reemplazad los valores nulos por una nueva categória que se llame Unknown.
- Reemplazad los valores nulos de la columna fatal por Unknown.
- Reemplazad los valores nulos de la columna type por el valor más frecuente (la moda).
- Reemplazad los valores nulos de la columna fecha por Unknown.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6328 entries, 0 to 6327
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6328 non-null   int64
 1   case_number   6327 non-null   object
 2   year          6328 non-null   float64
 3   type          6324 non-null   object
 4   country       6278 non-null   object
 5   area          5872 non-null   object
 6   location      5786 non-null   object
 7   activity      5784 non-null   object
 8   name          6119 non-null   object
 9   age           3508 non-null   object
 10  time          2964 non-null   object
 11  species_      3483 non-null   object
 12  href          6328 non-null   object
 13  injury        6300 non-null   object
 14  date          6328 non-null   object
 15  mes           5752 non-null   object
 16  fatal_        5709 non-null   object
 17  sex2          5759 non-null   object
 18  species_tipo  1132 non-null   object
 19  edad          3455 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 1.0+ MB

In [20]:
df['edad'].fillna(round((df['edad'].mean()), 2),inplace = True)

In [21]:
df['edad'].unique()

array([27.28, 14.  , 19.  , 20.  , 15.  , 21.  , 27.  , 36.  , 25.  ,
        6.  , 16.  , 50.  , 13.  , 57.  , 11.  , 48.  , 18.  , 52.  ,
       12.  , 32.  , 10.  , 34.  , 30.  , 60.  , 33.  , 29.  , 54.  ,
       41.  , 37.  , 56.  , 69.  , 38.  , 55.  , 35.  , 46.  , 45.  ,
       28.  , 24.  , 26.  , 49.  , 22.  ,  7.  , 31.  , 17.  , 40.  ,
       42.  ,  3.  ,  8.  , 82.  , 73.  , 68.  , 51.  , 39.  , 58.  ,
       47.  , 61.  , 65.  , 66.  , 43.  ,  9.  , 72.  , 59.  , 64.  ,
       23.  , 71.  , 44.  , 62.  , 63.  , 70.  , 53.  , 77.  , 74.  ,
        5.  , 86.  , 84.  , 75.  , 87.  , 67.  ,  1.  ,  2.  , 81.  ,
       78.  ])

In [22]:
df.sample(10)

,Unnamed: 0,case_number,year,type,country,area,location,activity,name,age,time,species_,href,injury,date,mes,fatal_,sex2,species_tipo,edad
476,475,2016.02.10.R,2016.0,Invalid,CAYMAN ISLANDS,Grand Cayman,Stingray City Bar,Feeding stingrays?,Richard Branson,65,NaN,No shark involvement,http://sharkattackfile.net/spreadsheets/pdf_di...,Minor injury to wrist from Southern stingray,Reported 10-Feb-2016,Feb,NaN,M,NaN,65.00
6276,6232,1836.07.26.R,1836.0,Invalid,SPAIN,NaN,NaN,NaN,NaN,NaN,NaN,Shark involvement prior to death unconfirmed,http://sharkattackfile.net/spreadsheets/pdf_di...,"Shark caught, contained human remains",1836.07.26.R,NaN,NaN,NaN,NaN,27.28
2320,2308,1998.12.24,1998.0,Provoked,USA,Florida,"Ormond Beach, Volusia County",Surfing,Andy Thompson,19,08h30,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Left foot bitten after he accidentally stepped...,24-Dec-1998,Dec,n,M,NaN,19.00
4806,4768,1946.01.05,1946.0,Unprovoked,AUSTRALIA,New South Wales,"Oatley Bay near Como, Georges River",Swimming,Valma Tegel,14,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"FATAL, left leg severed, right leg injured",05-Jan-1946,Jan,y,F,NaN,14.00
2334,2322,1998.10.04,1998.0,Unprovoked,BRAZIL,Pernambuco,"Boa Viagem Beach, Recife",Surfing,Júlio César de Barros Correia,17,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Right leg bitten,04-Oct-1998,Oct,n,M,NaN,17.00
3974,3954,"1962,08.30.b",1962.0,Boat,TURKEY,Antalya Province,Ucagiz,NaN,Occupant: Hasan Olta,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,No injury,30-Aug-1962,Aug,n,M,NaN,27.28
842,841,2013.05.23.a,2013.0,Provoked,PALESTINIAN TERRITORIES,NaN,Gaza,Fishing,Hamed Salah,30,Evening,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Two fingers lost PROVOKED INCIDENT,23-May-2013,May,n,M,NaN,30.00
5110,5070,1935.04.08.R,1935.0,Unprovoked,USA,California,"Hermosa Beach, Los Angeles County",NaN,A. R. Davis,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Laceration to hand,Reported 08-Apr-1935,Apr,n,M,NaN,27.28
1721,1714,2005.09.07,2005.0,Unprovoked,AUSTRALIA,New South Wales,"Park Beach, Coff's Harbour",Standing,Blake Garnett,15,Dusk,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Left foot & ankle lacerated,07-Sep-2005,Sep,n,M,NaN,15.00
4065,4044,1961.08.01,1961.0,Provoked,PAPUA NEW GUINEA,Sandaun Province,Vanimo on Musu side of Wutong anchorage,"Fishing, two large sharks passed. He speared o...",male,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Thigh lacerated PROVOKED INCIDENT,01-Aug-1961,Aug,n,M,NaN,27.28

In [ ]:
df['country'].replace(np.nan,'UNKNOWN', inplace=True)

In [27]:
df['country'].replace('Unknown','UNKNOWN', inplace=True)

In [28]:
df['country'].unique()

array(['SEYCHELLES', 'UNKNOWN', 'ENGLAND', 'AUSTRALIA', 'BARBADOS',
       'JAMAICA', 'MARTINIQUE', 'USA', 'GUINEA', 'GREENLAND', 'FRANCE',
       'SPAIN', 'MEDITERRANEAN SEA', 'CUBA', 'SWEDEN', 'PANAMA', 'ITALY',
       'ICELAND', 'ROATAN', 'INDIA', 'Between PORTUGAL & INDIA',
       'VENEZUELA', 'MEXICO', 'GREECE', 'CANADA', 'KENYA', 'URUGUAY',
       'PAPUA NEW GUINEA', 'BERMUDA', 'LEBANON', 'SUDAN', 'DJIBOUTI',
       'LIBYA', 'NEW ZEALAND', 'VIETNAM', 'SRI LANKA', 'MOZAMBIQUE',
       'SOUTH AFRICA', 'BAHREIN', 'BAHAMAS', 'REUNION', 'SOLOMON ISLANDS',
       'KOREA', 'FRENCH POLYNESIA', 'VANUATU', 'IRAN', 'RED SEA?',
       'SINGAPORE', 'FIJI', 'IRAQ', 'MADAGASCAR', 'INDONESIA',
       'NICARAGUA', 'MARSHALL ISLANDS', 'KIRIBATI', 'NORTH PACIFIC OCEAN',
       'SAUDI ARABIA', 'PACIFIC OCEAN', 'BURMA', 'BELIZE', 'ASIA?',
       'CEYLON (SRI LANKA)', 'BRAZIL', 'THAILAND', 'COSTA RICA',
       'MALDIVES', 'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'MAURITIUS',
       'SAMOA', 'JAPAN', 'EGYPT', 'ST HELENA, British overseas territory',
       'COMOROS', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES',
       'CHINA', 'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'PUERTO RICO', 'ATLANTIC OCEAN',
       'ST. MARTIN', 'TRINIDAD & TOBAGO', 'ISRAEL', 'DIEGO GARCIA',
       'TAIWAN', 'PALESTINIAN TERRITORIES', 'GUAM', 'NIGERIA', 'TONGA',
       'SCOTLAND', 'CROATIA', 'CHILE', 'ANTIGUA', 'RUSSIA',
       'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'SOMALIA', 'NEVIS',
       'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN',
       'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN',
       'Seychelles', 'LIBERIA', 'MEXICO ', ' TONGA', 'MICRONESIA',
       'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA', 'EGYPT / ISRAEL',
       'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA',
       'MONTENEGRO', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN',
       'PORTUGAL', 'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU',
       'WESTERN SAMOA', 'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA',
       'TURKEY', 'NEW BRITAIN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN',
       'NEW GUINEA', 'RED SEA', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS', 'AMERICAN SAMOA',
       'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'CENTRAL PACIFIC', 'SOLOMON ISLANDS / VANUATU',
       'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN',
       'SLOVENIA', 'CURACAO', 'ITALY / CROATIA', 'HONDURAS', 'MONACO',
       'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN',
       'GEORGIA', 'SYRIA', 'TUVALU', 'INDIAN OCEAN?', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA'],
      dtype=object)

In [29]:
df['fatal_'].replace(np.nan,'UNKNOWN', inplace=True)

In [30]:
df['fatal_'].unique()

array(['y', 'n', 'UNKNOWN'], dtype=object)

In [35]:
df['type'].mode()[0]

'Unprovoked'

In [31]:
# Reemplazando los nan con replace

df['type'].replace(np.nan,df['type'].mode()[0], inplace=True)

In [36]:
df['type'].unique()

array(['Unprovoked', 'Provoked', 'Boat', 'Sea Disaster', 'Invalid',
       'Boating', 'Questionable', nan, 'Boatomg'], dtype=object)

In [37]:
# Reemplazando los nan con fillna

df['type'].fillna(df['type'].mode()[0], inplace=True)

In [38]:
df['type'].unique()

array(['Unprovoked', 'Provoked', 'Boat', 'Sea Disaster', 'Invalid',
       'Boating', 'Questionable', 'Boatomg'], dtype=object)

In [41]:
df['mes'].unique()

array(['UNKNOWN', 'May', 'Sep', 'Jul', 'Aug', 'Dec', 'Mar', 'Oct', 'Apr',
       'Jan', 'Jun', 'Feb', 'Nov', 'Mid'], dtype=object)

In [40]:
df['mes'].replace(np.nan,'UNKNOWN', inplace=True)

Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair.

In [42]:
df.to_csv('../../datos/attack_limpio_2.csv')