In [28]:
import pandas as pd
import numpy as np
import requests
import ast 
import datetime
import mysql.connector

1. Cread la BBDD con el nombre de tiburones.

2. Cread las tablas de la BBDD:

 - Tabla ataques

 - Tabla clima

1. Cread la BBDD con el nombre de tiburones.

In [29]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="AlumnaAdalab" # aquí tendréis que poner vuestra contraseña de MySQL
    )
    print("Conexión realizada con éxito")

    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [30]:
bbdd = "tiburones"

In [31]:
tiburones = crear_bbdd(bbdd)

Conexión realizada con éxito
CMySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

2. Cread las tablas de la BBDD:

 - Tabla ataques

 - Tabla clima

In [32]:
def crear_insertar_tabla(nombre_bbdd, contraseña, query):

# nos conectamsos con el servidor usando el conector de sql
    cnx = mysql.connector.connect(user='root', password=f"{contraseña}",
    host='127.0.0.1', database=f"{nombre_bbdd}")
# iniciamos el cursor
    mycursor = cnx.cursor()

# intentamos hacer la query
    try: 
        mycursor.execute(query)
        cnx.commit() 
# en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

 - Query Tabla ataques

In [33]:
tabla_ataques = ''' CREATE TABLE IF NOT EXISTS `ataques` (
    `id_ataques` INT NOT NULL AUTO_INCREMENT, 
    `case_number` VARCHAR(50) NOT NULL,
    `year` INT NOT NULL, 
    `mes` VARCHAR(20) NOT NULL,
    `type` VARCHAR(50) NOT NULL, 
    `country` VARCHAR(50) NOT NULL,  
    `age` FLOAT NOT NULL,
    `species` VARCHAR(50)  NOT NULL,
    `fatal` VARCHAR (20) NOT NULL,
    `sex` VARCHAR (20) NOT NULL,
    PRIMARY KEY (`id_ataques`))
    
    ENGINE = InnoDB;
    '''

In [34]:
tabla_clima = ''' CREATE TABLE IF NOT EXISTS `clima` (
    `id_clima` INT NOT NULL AUTO_INCREMENT, 
    `rh_950mb` INT NOT NULL, 
    `rh_900mb` INT NOT NULL, 
    `rh_850mb` INT NOT NULL, 
    `rh_800mb` INT NOT NULL, 
    `rh_750mb` INT NOT NULL, 
    `rh_700mb` INT NOT NULL,
    `rh_650mb` INT NOT NULL, 
    `rh_600mb` INT NOT NULL, 
    `rh_550mb` INT NOT NULL, 
    `rh_500mb` INT NOT NULL, 
    `rh_450mb` INT NOT NULL, 
    `rh_400mb` INT NOT NULL,
    `rh_350mb` INT NOT NULL, 
    `rh_300mb` INT NOT NULL, 
    `rh_250mb` INT NOT NULL, 
    `rh_200mb` INT NOT NULL, 
    `windspeed_950mb` INT NOT NULL,
    `windspeed_900mb` INT NOT NULL, 
    `windspeed_850mb` INT NOT NULL, 
    `windspeed_800mb` INT NOT NULL,
    `windspeed_750mb` INT NOT NULL, 
    `windspeed_700mb` INT NOT NULL, 
    `windspeed_650mb` INT NOT NULL,
    `windspeed_600mb` INT NOT NULL, 
    `windspeed_550mb` INT NOT NULL, 
    `windspeed_500mb` INT NOT NULL,
    `windspeed_450mb` INT NOT NULL, 
    `windspeed_400mb` INT NOT NULL, 
    `windspeed_350mb` INT NOT NULL,
    `windspeed_300mb` INT NOT NULL, 
    `windspeed_250mb` INT NOT NULL, 
    `windspeed_200mb` INT NOT NULL, 
    `timepoint` INT NOT NULL,
    `cloudcover` INT NOT NULL, 
    `highcloud` INT NOT NULL, 
    `midcloud` INT NOT NULL, 
    `lowcloud` INT NOT NULL, 
    `temp2m` INT NOT NULL, 
    `lifted_index` INT NOT NULL, 
    `rh2m` INT NOT NULL, 
    `msl_pressure` INT NOT NULL,
    `prec_type` VARCHAR(50)NOT NULL, 
    `prec_amount` INT NOT NULL, 
    `snow_depth` INT NOT NULL, 
    `wind10m.direction` INT NOT NULL,
    `wind10m.speed` INT NOT NULL, 
    `latitud` FLOAT NOT NULL, 
    `longitud` FLOAT NOT NULL, 
    `country` VARCHAR (50) NOT NULL,
    `fecha_descarga` VARCHAR (20) NOT NULL,
    PRIMARY KEY (`id_clima`))
    
    ENGINE = InnoDB;
    '''

In [35]:
crear_insertar_tabla(bbdd, contraseña = 'AlumnaAdalab', query = tabla_ataques)

In [36]:
crear_insertar_tabla(bbdd, contraseña = 'AlumnaAdalab', query = tabla_clima)