1 Cread la BBDD con el nombre de tiburones.

2 Cread las tablas de la BBDD:

 - Tabla ataques

 - Tabla clima

In [2]:
import pandas as pd
import numpy as np
import requests
import ast 
import datetime
import mysql.connector

1. Cread la BBDD con el nombre de tiburones.

In [3]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="AlumnaAdalab" # aquí tendréis que poner vuestra contraseña de MySQL
    )
    print("Conexión realizada con éxito")

    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [4]:
bbdd = "tiburones"

In [5]:
tiburones = crear_bbdd(bbdd)

Conexión realizada con éxito
CMySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

2. Cread las tablas de la BBDD:

 - Tabla ataques

 - Tabla clima

In [6]:
def crear_insertar_tabla(nombre_bbdd, contraseña, query):

# nos conectamsos con el servidor usando el conector de sql
    cnx = mysql.connector.connect(user='root', password=f"{contraseña}",
    host='127.0.0.1', database=f"{nombre_bbdd}")
# iniciamos el cursor
    mycursor = cnx.cursor()

# intentamos hacer la query
    try: 
        mycursor.execute(query)
        cnx.commit() 
# en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

 - Query Tabla ataques

In [7]:
tabla_ataques = ''' CREATE TABLE IF NOT EXISTS `ataques` (
    `id_ataques` INT NOT NULL AUTO_INCREMENT, 
    `year` INT NOT NULL, 
    `type` VARCHAR(50) DEFAULT NULL, 
    `country` VARCHAR(50) DEFAULT NULL,  
    `age` FLOAT DEFAULT NULL,
    `species_` VARCHAR(50) DEFAULT NULL,
    `fecha_limpia` VARCHAR (10) DEFAULT NULL,
    `fatal` CHAR (1) DEFAULT NULL,
    `sex` CHAR (1) DEFAULT NULL,
    `activity` VARCHAR (250) DEFAULT NULL,
    PRIMARY KEY (`id_ataques`))
    
    ENGINE = InnoDB;
    '''

In [14]:
tabla_clima = ''' CREATE TABLE IF NOT EXISTS `clima` (
    `id_clima` INT NOT NULL AUTO_INCREMENT, 
    `rh_950mb` INT DEFAULT NULL, 
    `rh_900mb` INT DEFAULT NULL, 
    `rh_850mb` INT DEFAULT NULL, 
    `rh_800mb` INT DEFAULT NULL, 
    `rh_750mb` INT DEFAULT NULL, 
    `rh_700mb` INT DEFAULT NULL,
    `rh_650mb` INT DEFAULT NULL, 
    `rh_600mb` INT DEFAULT NULL, 
    `rh_550mb` INT DEFAULT NULL, 
    `rh_500mb` INT DEFAULT NULL, 
    `rh_450mb` INT DEFAULT NULL, 
    `rh_400mb` INT DEFAULT NULL,
    `rh_350mb` INT DEFAULT NULL, 
    `rh_300mb` INT DEFAULT NULL, 
    `rh_250mb` INT DEFAULT NULL, 
    `rh_200mb` INT DEFAULT NULL, 
    `windspeed_950mb` INT DEFAULT NULL,
    `windspeed_900mb` INT DEFAULT NULL, 
    `windspeed_850mb` INT DEFAULT NULL, 
    `windspeed_800mb` INT DEFAULT NULL,
    `windspeed_750mb` INT DEFAULT NULL, 
    `windspeed_700mb` INT DEFAULT NULL, 
    `windspeed_650mb` INT DEFAULT NULL,
    `windspeed_600mb` INT DEFAULT NULL, 
    `windspeed_550mb` INT DEFAULT NULL, 
    `windspeed_500mb` INT DEFAULT NULL,
    `windspeed_450mb` INT DEFAULT NULL, 
    `windspeed_400mb` INT DEFAULT NULL, 
    `windspeed_350mb` INT DEFAULT NULL,
    `windspeed_300mb` INT DEFAULT NULL, 
    `windspeed_250mb` INT DEFAULT NULL, 
    `windspeed_200mb` INT DEFAULT NULL, 
    `timepo INT` INT NOT NULL,
    `cloudcover` INT NOT NULL, 
    `highcloud` INT NOT NULL, 
    `midcloud` INT NOT NULL, 
    `lowcloud` INT NOT NULL, 
    `temp2m` INT DEFAULT NULL, 
    `lifted_index` INT DEFAULT NULL, 
    `rh2m` INT DEFAULT NULL, 
    `msl_pressure` INT DEFAULT NULL,
    `prec_type` VARCHAR(50)DEFAULT NULL, 
    `prec_amount` INT DEFAULT NULL, 
    `snow_depth` INT DEFAULT NULL, 
    `wind10m.direction` INT DEFAULT NULL,
    `wind10m.speed` INT DEFAULT NULL, 
    `latitud` FLOAT NOT NULL, 
    `longitud` FLOAT NOT NULL, 
    `pais` VARCHAR (50) NOT NULL,
    PRIMARY KEY (`id_clima`))
    
    ENGINE = InnoDB;
    '''

In [11]:
crear_insertar_tabla(bbdd, contraseña = 'AlumnaAdalab', query = tabla_ataques)

In [15]:
crear_insertar_tabla(bbdd, contraseña = 'AlumnaAdalab', query = tabla_clima)

CREATE TABLE IF NOT EXISTS `clima`.`tiempo` (
`idtiempo` INT NOT NULL AUTO_INCREMENT,
`timepoint`INT NOT NULL,
`fecha` DATE NOT NULL,
PRIMARY KEY (`idtiempo`))
ENGINE = InnoDB;
'''