EJERCICIO 

1.Es el momento de eliminar los nulos:
 - Reemplazad los valores nulos de la columna age por la media de la edad usando el método SimpleImputer.

 - Reemplazad los valores nulos de la columna sex por la moda, usando el método SimpleImputer.
 
 - Reemplazad los valores nulos de la columna type por el valor más frecuente (la moda) con el método SimpleImputer.

 - Utilizad el método KNN Imputer para reemplazar todos los valores nulos de las columnas numéricas.

 - Utilizad el método Iterative Imputer para reemplazar todos los valores nulos de las columnas numéricas.
 
¿Podríais explicar qué diferencia hay entre estos dos últimos métodos?

 - Reemplazad los valores nulos de la columna age por la media de la edad usando el método SimpleImputer.

In [84]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.impute import SimpleImputer

In [85]:
df = pd.read_csv("../../datos/attack_limpio.csv", index_col = 0)

In [86]:
imputer = SimpleImputer(strategy= "mean", missing_values = np.nan)

In [87]:
imputer = imputer.fit(df[["edad"]])

In [88]:
df["edad_mean"] = imputer.transform(df[["edad"]])

In [89]:
df.isnull().sum()

Unnamed: 0.1       0
case_number        1
year               0
type               4
country           50
area             456
location         542
activity         544
name             209
age             2820
time            3364
species_        2845
href               0
injury            28
date               0
mes              576
fatal_           619
sex2             569
species_tipo    5196
edad            2873
edad_mean          0
dtype: int64

 - Reemplazad los valores nulos de la columna sex por la moda, usando el método SimpleImputer.

In [90]:
imputer = SimpleImputer(strategy= "most_frequent", missing_values = np.nan)

In [91]:
imputer = imputer.fit(df[["sex2"]])

In [92]:
df["sex_most_frequent"] = imputer.transform(df[["sex2"]])

In [93]:
df.isnull().sum()

Unnamed: 0.1            0
case_number             1
year                    0
type                    4
country                50
area                  456
location              542
activity              544
name                  209
age                  2820
time                 3364
species_             2845
href                    0
injury                 28
date                    0
mes                   576
fatal_                619
sex2                  569
species_tipo         5196
edad                 2873
edad_mean               0
sex_most_frequent       0
dtype: int64

 - Reemplazad los valores nulos de la columna type por el valor más frecuente (la moda) con el método SimpleImputer.

In [94]:
imputer = SimpleImputer(strategy= "most_frequent", missing_values = np.nan)

In [95]:
imputer = imputer.fit(df[["type"]])

In [96]:
df["type_most_frequent"] = imputer.transform(df[["type"]])

In [97]:
df.isnull().sum()

Unnamed: 0.1             0
case_number              1
year                     0
type                     4
country                 50
area                   456
location               542
activity               544
name                   209
age                   2820
time                  3364
species_              2845
href                     0
injury                  28
date                     0
mes                    576
fatal_                 619
sex2                   569
species_tipo          5196
edad                  2873
edad_mean                0
sex_most_frequent        0
type_most_frequent       0
dtype: int64

- Utilizad el método KNN Imputer para reemplazar todos los valores nulos de las columnas numéricas.

In [98]:
from sklearn.impute import KNNImputer

In [99]:
numericas = df.select_dtypes(include = np.number)
imputerKNN = KNNImputer(n_neighbors = 5)
imputerKNN.fit(numericas)

KNNImputer()

In [100]:
numericas_knn= imputerKNN.transform(numericas)

In [101]:
df_knn_imputer = pd.DataFrame(numericas_knn, columns = numericas.columns)

In [102]:
columnas_knn = df_knn_imputer.columns

In [103]:

df.drop(columnas_knn, axis = 1, inplace = True)

In [104]:
df[columnas_knn] = numericas_knn

In [105]:
df.isnull().sum()

case_number              1
type                     4
country                 50
area                   456
location               542
activity               544
name                   209
age                   2820
time                  3364
species_              2845
href                     0
injury                  28
date                     0
mes                    576
fatal_                 619
sex2                   569
species_tipo          5196
sex_most_frequent        0
type_most_frequent       0
Unnamed: 0.1             0
year                     0
edad                     0
edad_mean                0
dtype: int64


 - Utilizad el método Iterative Imputer para reemplazar todos los valores nulos de las columnas numéricas.

In [106]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [107]:
numericas = df.select_dtypes(include = np.number)

In [108]:
imputer = IterativeImputer(n_nearest_features=None, imputation_order='ascending')

In [109]:
imputer.fit(numericas)

IterativeImputer()

In [110]:
imputer.transform(numericas)

array([[0.00000000e+00, 1.80000000e+03, 2.98000000e+01, 2.72758321e+01],
       [1.00000000e+00, 1.79700000e+03, 2.98000000e+01, 2.72758321e+01],
       [2.00000000e+00, 1.79200000e+03, 2.98000000e+01, 2.72758321e+01],
       ...,
       [6.28100000e+03, 1.80300000e+03, 2.64000000e+01, 2.72758321e+01],
       [6.28200000e+03, 1.80200000e+03, 2.64000000e+01, 2.72758321e+01],
       [6.28300000e+03, 1.80100000e+03, 2.64000000e+01, 2.72758321e+01]])

In [111]:
numericas_trans = pd.DataFrame(imputer.transform(numericas), columns = numericas.columns)

In [112]:
numericas_trans.isnull().sum()

Unnamed: 0.1    0
year            0
edad            0
edad_mean       0
dtype: int64

In [113]:
columnas = numericas_trans.columns

In [114]:
df.drop(columnas, axis = 1, inplace = True)

In [115]:
df[columnas] = numericas_trans[columnas]

In [116]:
df.columns

Index(['case_number', 'type', 'country', 'area', 'location', 'activity',
       'name', 'age', 'time', 'species_', 'href', 'injury', 'date', 'mes',
       'fatal_', 'sex2', 'species_tipo', 'sex_most_frequent',
       'type_most_frequent', 'Unnamed: 0.1', 'year', 'edad', 'edad_mean'],
      dtype='object')

In [117]:
df.isnull().sum()

case_number              1
type                     4
country                 50
area                   456
location               542
activity               544
name                   209
age                   2820
time                  3364
species_              2845
href                     0
injury                  28
date                     0
mes                    576
fatal_                 619
sex2                   569
species_tipo          5196
sex_most_frequent        0
type_most_frequent       0
Unnamed: 0.1             0
year                     0
edad                     0
edad_mean                0
dtype: int64

2.Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair

In [118]:
df.to_csv("../../datos/attack_nulos.csv")